@model GameShop.Models.Admins.AdminGamesViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach (var game in Model.Games)
{
<div>
    <p>Name: @game.Name </p>
    <p>Id: @game.Id </p>
    Price: @game.Price $
    <a asp-controller="Admin" asp-action="DeleteGame" asp-route-id="@game.Id">Delete Game</a>
    <a asp-controller="Admin" asp-action="EditGame" asp-route-id ="@game.Id">Edit Game</a>

</div>
}

<a href='@Url.Action("AddGame", "Admin")'>Add Game</a>


